@{
    ViewData["Title"] = "Home Page";
}



<div style="color:white; margin:0 auto; width:800px; background-color:white;  
     height:auto;  border:2px solid #304967; padding:0px; margin-top:50px;"> 
<h2 style="background-color: #304967;  margin: 0px;    
     padding: 5px; border-bottom:1px solid #304967; ">Search result</h2>

</div>

