<header style="height:52px; ">
    
    <nav class="navbar fixed-top">

        <div style="float: left">
            <div id="menuLeft"></div>
        </div>

        <div style="float: right">
            <div style="display:inline-block; vertical-align:middle; margin-right:30px;">
                <div id="menuRight"></div>
            </div>
            <div style="display:inline-block; vertical-align:middle">
                @await Html.PartialAsync("_SelectLanguagePartial")
            </div>
        </div>
    </nav>


</header>

