<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TEst2</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/site.css" rel="stylesheet">

    <!-- DevExtreme themes -->
    <link href="~/lib/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/lib/devextreme/css/dx.light.css" rel="stylesheet" />
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
</head>
<body style="background-image:url('/images/bg.jpg')">

    <div class="container">
        @RenderBody()
    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.js"></script>
    <!-- A DevExtreme library -->    
    <script src="~/lib/devextreme/js/dx.all.js"></script>
    <script src="~/lib/toastr/toastr.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
